src/main/mule/test-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e9e6db3-8038-42dc-8d84-8e9abdeaf0b4" >
		<http:listener-connection host="0.0.0.0" port="8090" />
	</http:listener-config>
	<flow name="test-demoFlow" doc:id="91247a53-129b-49ba-8d1a-2980938c883f" >
		<http:listener doc:name="Listener" doc:id="f3d68923-50ac-4dd1-826f-459f035bd48a" config-ref="HTTP_Listener_config" path="demo"/>
		<ee:transform doc:name="current-IST-time" doc:id="ae474b0f-a87c-4136-9785-c3db77470763" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"CURRENT-TIME": now() >> "IST"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="log-payload" doc:id="c4990e5a-1b9a-434b-89d3-bbe288786182" message="#[payload]"/>
	</flow>
</mule>
